.case_toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;

  & div {
    display: flex;
    align-items: center;
    > button {
      margin: 0 1rem;
    }
  }

  @media screen and (max-width: $med) {
    flex-wrap: wrap;
    .form__control {
      margin: 1rem;
      width: 100%;
    }
  }
}

.new_case_modal {
  .case_note_user_info {
    display: flex;
    align-items: center;
    img {
      max-width: 50px;
    }
  }
  .case_note_inputs {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 1rem 0rem;
    .case_note_date {
      width: 100%;
      margin-bottom: 1rem;
    }
    .case_note_time_selector {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      margin-top: 4rem;
      > * {
        flex: 1;
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
    .form__control {
      margin: 4rem 0;
      width: 100%;
      textarea {
        width: 100%;
      }
    }
  }
}

.case_note_add_toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.case_note_add_toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
