<<<<<<< Updated upstream
input,
select,
textarea {
  @include input();
}

.search_container {
  display: flex;

  .input_search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    img {
      position: absolute;
      right: 0;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
    }
  }
  select {
    border-radius: 5px 0px 0px 5px;
    @media screen and (max-width: $mobile) {
      border-radius: 5px;
    }
  }
  input[type='search'] {
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    width: 100%;
    border-left-color: transparent;
    @media screen and (max-width: $mobile) {
      border-left-color: inherit;
      margin: 0.5rem 0;
      border-radius: 5px;
    }
    &:focus {
      border-left-color: inherit;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}


.form__control{
  display: flex;
  flex-direction: column;;
  label{
    transform: translateY(3rem);
    padding: 0.5rem 1rem;
    transition: transform 0.1s ease-out;
    text-align: left;

    &.float{
      transform: translateY(0);
      font-size: 1.2rem;
      padding: 1rem 0;
    }
  }
  input {
    width: 100%;
    color: black;
  }
=======
input,
select,
textarea {
  @include input();
}

.search_container {
  display: flex;

  .input_search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    img {
      position: absolute;
      right: 0;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
    }
  }
  select {
    border-radius: 5px 0px 0px 5px;
    @media screen and (max-width: $mobile) {
      border-radius: 5px;
    }
  }
  input[type='search'] {
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    width: 100%;
    border-left-color: transparent;
    @media screen and (max-width: $mobile) {
      border-left-color: inherit;
      margin: 0.5rem 0;
      border-radius: 5px;
    }
    &:focus {
      border-left-color: inherit;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}


.form__control{
  display: flex;
  flex-direction: column;;
  label{
    transform: translateY(3rem);
    padding: 0.5rem 1rem;
    transition: transform 0.1s ease-out;
    text-align: left;

    &.float{
      transform: translateY(0);
      font-size: 1.2rem;
      padding: 1rem 0;
    }
  }
  input {
    width: 100%;
    color: black;
  }
>>>>>>> Stashed changes
}