input,
select,
textarea {
  @include input();
}

.search_container {
  display: flex;
  .input_search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    img {
      position: absolute;
      right: 0;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
    }
  }
  select {
    border-radius: 5px 0px 0px 5px;
  }
  input[type='search'] {
    border-radius: 0px 5px 5px 0px;
    height: 100%;
    width: 100%;
    border-left-color: transparent;
    &:focus {
      border-left-color: inherit;
    }
  }
}
