.header{
  background-color: white;
  position: relative;
  z-index: 50;
}
.header > div {
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  border-bottom: 2px solid black;
  height: 80px;
  @media screen and (max-width: $lg) {
    border-bottom: none;
  }
  @media screen and (max-width: $med) {
    padding: 0rem 1rem;
    flex-direction: column;
    height: 100%;
  }

  ul {
    @include flex-vert-center();
    max-height: 150vh;
    margin-bottom: 0;
    overflow: hidden;

    @media screen and (max-width: $med) {
      @include light-border();
      flex-direction: column;
      align-items: flex-start;
      z-index: 10;
      background-color: white;
      margin: 0rem -1rem;
      padding-bottom: 1rem;
    }

    li {
      margin: 0;
      padding: 0;
      height: 100%;
      @media screen and (max-width: $med) {
        @include flex_vert_center();
        visibility: visible;
        transition: visibility 0.1s ease-out;
        transition-delay: 0.3s;
      }
      a {
        @include flex-center();
        margin: 0;
        padding: 0rem 1.5rem;
        transition: background-color 0.3s ease-in-out;
        position: relative;
        height: 100%;
        text-decoration: none;
        color: black;
        &:hover {
          text-decoration: none;
        }
        @media screen and (max-width: $med) {
          padding: 1.5rem;
          font-size: 1.5rem;
          justify-content: flex-start;
        }
        &::before {
          content: '';
          display: block;
          height: 2px;
          width: 0px;
          background-color: $dark-blue;
          transform: translateX(50%);
          transition: all 0.3s ease-in-out;
          position: absolute;
          bottom: 0;
        }
        @media screen and (min-width: $med) {
          &:hover {
            background-color: $light-blue;

            &::before {
              width: 100%;
              transform: translateX(0);
            }
          }
        }
      }
    }

    @media screen and (max-width: $med) {
      &.collapsed {
        max-height: 0;
        padding: 0;
        transition-delay: 0s;

        li {
          visibility: hidden;
          transition-delay: 0s;
        }
      }
    }
  }
}

.header__toggle {
  display: none;

  img {
    height: 50px;
  }
  @media screen and (max-width: $med) {
    display: block;
  }
}

.header__group {
  @include flex-center();

  @media screen and (max-width: $med) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.header__logo {
  @include flex-center();
  font-weight: 700;
  @media screen and (max-width: $med) {
    font-size: 2rem;
    justify-content: flex-start;
    padding: 1.5rem 0;
  }
  a {
    @include title-font();
    @include link-with-no-underline();
    color: black;
  }
}
.header__prof-pic > a {
  @include flex-center();
  img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid $border-gray;
    background-color: white;
    margin-right: 0.5rem;
  }
}
