@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-vert-center() {
  display: flex;
  align-items: center;
}

@mixin light-border() {
  border: 1px solid $border-gray;
}

@mixin dark-border() {
  border: 1px solid black;
}
@mixin body-font() {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: $black;
  @media screen and (max-width: $lg) {
    font-size: 1.2rem;
  }
}
@mixin title-font() {
  font-family: lemonde-journal, sans-serif;
  color: $black;
}

@mixin box-shadow() {
  box-shadow: 0.2px 1px 1.4px rgba(0, 0, 0, 0.02),
    0.4px 2.3px 3.3px rgba(0, 0, 0, 0.028),
    0.8px 4.4px 6.3px rgba(0, 0, 0, 0.035),
    1.3px 7.8px 11.2px rgba(0, 0, 0, 0.042),
    2.5px 14.6px 20.9px rgba(0, 0, 0, 0.05), 6px 35px 50px rgba(0, 0, 0, 0.07);
}

@mixin primary-button() {
  @include body-font();
  @include box-shadow();
  font-weight: 700;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: $dark-blue;
  border: 2px solid $dark-blue;
  outline: none;
  width: 100%;
  padding: 1rem;
  &:hover{
    border-radius: 5px;
    cursor: pointer;
  }
  &:focus{
    box-shadow: none;
  }
}

@mixin secondary-button {
  @include primary-button();
  background-color: $light-blue;
  color: $dark-blue;
}

@mixin disabled-button(){
  @include primary-button();
  background-color: white;
  border: 1px solid $border-gray;
  color: $border-gray;
  &:hover{
    cursor: not-allowed;
  }
}

@mixin input(){
  @include body-font();
  @include light-border();
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 400;
  ::placeholder {
    color: $border-gray;
  }

  &:focus {
    @include box-shadow();
    @include dark-border();

    outline: none;
  }
}

@mixin link-with-no-underline() {
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}