@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-vert-center() {
  display: flex;
  align-items: center;
}

@mixin light-border() {
  border: 1px solid $border-gray;
}

@mixin dark-border() {
  border: 1px solid black;
}
@mixin body-font() {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: $black;
  @media screen and (max-width: $lg) {
    font-size: 1.2rem;
  }
}

@mixin box-shadow() {
  box-shadow: 0.2px 1px 1.4px rgba(0, 0, 0, 0.02),
    0.4px 2.3px 3.3px rgba(0, 0, 0, 0.028),
    0.8px 4.4px 6.3px rgba(0, 0, 0, 0.035),
    1.3px 7.8px 11.2px rgba(0, 0, 0, 0.042),
    2.5px 14.6px 20.9px rgba(0, 0, 0, 0.05), 6px 35px 50px rgba(0, 0, 0, 0.07);
}
