#table_cases {
  width: 100%;
  margin-top: 2rem;

  @media screen and (max-width: $tablet) {
    .table__container {
      overflow-x: scroll;
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    @media screen and (max-width: $tablet) {
      width: auto;
    }
  }
  thead {
    border-bottom: 3px solid $border-gray;
    tr {
      color: $dark-blue;
      font-weight: 600;
      position: relative;
      td {
        position: relative;

        @media screen and (max-width: $tablet) {
          padding-right: 3rem;
        }
        &::after {
          content: '';
          display: block;
          height: 20px;
          width: 20px;
          background-image: url('../ico/sort.svg');
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          right: 3px;
          top: 10px;
        }
        &.asc {
          &::after {
            background-image: url('../ico/asc.svg');
          }
        }
        &.desc {
          &::after {
            background-image: url('../ico/desc.svg');
          }
        }
      }
    }
  }
  tr {
    &:hover {
      cursor: pointer;
    }
    &:nth-child(even) {
      background-color: $trans-border-gray;
    }
  }
  td {
    border: 2px solid $trans-border-gray;
    padding: 1rem;
    white-space: nowrap;
  }
}
.table__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;

  @media screen and (max-width: $mobile) {
    flex-direction: column-reverse;
  }

  > .neutral-button {
    margin: 0 1rem;
    flex-basis: 200px;
  }
  button {
    margin: 0 0.5rem;
  }
}
.controls__left,
.controls__right {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $tablet) {
    width: 100%;
    padding-top: 1rem;
    justify-content: space-between;
  }
}
.controls__advanced-search {
  position: relative;
  cursor: pointer;
  p {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url('../ico/chevron-down.svg');
    background-position: center;
    right: 0px;
    top: 0;
    background-size: contain;
    z-index: -1;
  }
  &.open {
    &::after {
      background-image: url('../ico/chevron-up.svg');
    }
  }
  p {
    margin-right: 1rem;
  }
  @media screen and (max-width: $tablet) {
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
    margin-bottom: 1rem;

    &:after {
      top: 10px;
      right: 10px;
    }
  }
}
.table__search {
  display: flex;
  width: 100%;
  // align-items: stretch;
  align-items: center;
  .form__control{
    margin: 1px 0;
    height: 4rem;
  }

  select {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 100%;
  }
  input {
    flex: 1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 1rem;
    height: 4rem;
  }
  button {
    flex: 0.5;
  }
}
.controls__columns {
  position: relative;
  margin: 1rem 0;

  .controls__label {
    @include neutral-button();
    padding-right: 3rem;
    &:hover {
      cursor: pointer;
    }
    &::after {
      @include triangle();
      right: 20px;
      top: 22px;
    }
  }
  .controls__dropdown {
    position: absolute;
    background-color: white;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    width: 100%;
    z-index: 10;

    .dropdown__option {
      text-align: left;
      padding: 0.5rem;
    }
    .dropdown__bottom-bar {
      position: sticky;
      bottom: 0;
      background-color: white;
      border-top: 1px solid black;
      padding: 1rem;
      button {
        @include primary-button();
        padding: 0.75rem;
      }
    }
  }

  @media screen and (max-width: $tablet) {
    width: 100%;
    padding-right: 1rem;

    .controls__label {
      width: 100%;
      margin: 0;
      &:after {
        top: 1rem;
        right: 2rem;
      }
    }
  }
}

.advanced-search__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  margin: 0 -0.25rem;

  @media screen and (max-width: $tablet) {
    grid-template-columns: auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 5;
    padding: 2rem;
    border: 1px solid black;
    input {
      width: 100%;
    }
  }
  > * {
    margin: 1rem 0.25rem;
    width: calc(100% - 0.5rem);
    display: flex;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.table__pagination {
  display: flex;
  justify-content: space-between;

  .pagination__navigation {
    display: flex;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
    }
    button {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: $tablet) {
  #printButton {
    display: none;
  }
}
// #table_cases {
//     width: 100%;
//     margin-top: 2rem;

//     table {
//         width: 100%;
//     }
//     tr {
//         &:hover {
//             cursor: pointer;
//         }

//         &:nth-child(even) {
//             background-color: $trans-border-gray;

//         }
//     }
// }

// #table_cases_filter,
// #table_cases_length {
//     display: none;
// }

// table.gridjs-table tbody th,
// table.gridjs-table tbody td,
// table.gridjs-table thead th {
//     border: 1px solid $border-gray;
//     padding: 1.5rem;
// }

// table.gridjs-table thead th,
// table.gridjs-table thead td {
//     border-bottom: 0.3rem solid $border-grey;
// }

// .dataTables_info,
// .dataTables_paginate,
// .dtsp-title {
//     @include body-font();
//     font-size: 1.2rem;
// }

// table.gridjs-table.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
// table.gridjs-table.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
//     background-color: $dark-blue;
//     border: none;
//     box-shadow: none;
// }

// .advanced_search {
//     p {
//         @include flex-vert-center();
//         width: 200px;

//         &:hover {
//             cursor: pointer;
//         }

//         &::after {
//             content: '';
//             background-image: url('../images/chevron_up.svg');
//             height: 20px;
//             width: 20px;
//             background-size: cover;
//             background-repeat: no-repeat;
//         }

//         &.advanged_search--open {
//             &::after {
//                 background-image: url('../images/chevron_down.svg');
//             }
//         }
//     }
// }

// .advanced-search__fields {
//     max-height: 0;
//     overflow: hidden;

//     &.advanced-search__fields--open {
//         max-height: 1000px;
//     }
// }

// div.dtsp-panesContainer button.dtsp-showAll,
// div.dtsp-panesContainer button.dtsp-collapseAll {
//     @include secondary-button();
// }

// div.dtsp-panesContainer button.dtsp-disabledButton,
// div.dtsp-panesContainer button.dtsp-clearAll {
//     @include disabled-button();
// }

// .dtsp-titleRow {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 1rem;

//     >.dtsp-title {
//         text-align: left;
//     }
// }

// div.dtsp-topRow.dtsp-bordered {
//     @include input();
// }

// div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane div.dtsp-topRow div.dtsp-searchCont input.dtsp-search {
//     @include body-font();
//     border: none;
//     box-shadow: none;
// }

// div.dtsp-panesContainer div.dtsp-searchPanes div.dtsp-searchPane button.dtsp-paneButton {
//     @include disabled-button();
//     box-shadow: none;
//     opacity: 1;
//     width: auto;
//     padding: 1.5rem;
// }

// div.dtsp-topRow.dtsp-bordered:hover {
//     @include input();
//     background-color: inherit;
//     opacity: 1;
//     color: black;
// }

// .table__utils {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     align-items: center;
//     margin: 1rem auto;

//     @media screen and (max-width: $tablet) {
//         display: flex;
//         flex-direction: column;
//         align-items: stretch;

//         label {
//             text-align: left;
//         }
//     }
// }

// .table__buttons {
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;

//     @media screen and (max-width: $tablet) {
//         flex-direction: column;
//         align-items: stretch;

//         button {
//             margin: 0.5rem 0;
//         }
//     }

//     button {
//         width: calc(100% - 1rem);
//         margin-left: 1rem;
//     }
// }

// .select {
//     position: relative;
//     width: 200px;

//     @media screen and (max-width: $tablet) {
//         width: 100%;
//     }

//     .select__button {
//         @include disabled-button();
//         margin: 0 0.5rem;
//         width: calc(200px - 1rem);

//         @media screen and (max-width: $tablet) {
//             width: 100%;
//         }

//         &:hover {
//             cursor: pointer;
//         }

//         &::after {}
//     }

//     .select__options {
//         @include light-border();
//         position: absolute;
//         background-color: white;
//         height: 400px;
//         z-index: 2;
//         margin-left: 1rem;
//         width: 100%;
//         visibility: visible;

//         .select__list {
//             align-items: flex-start;
//             text-align: left;
//             display: flex;
//             flex-direction: column;
//             overflow-y: scroll;
//             height: calc(100% - 80px);
//             padding-bottom: 80px;
//         }

//         &.closed {
//             border: none;
//             max-height: 0;
//             visibility: hidden;
//         }

//         input {
//             margin: 1rem 1rem;
//         }

//         .select__footer {
//             border-top: 1px solid $border-gray;
//             background-color: white;
//             position: absolute;
//             bottom: 0;
//             left: 0;
//             right: 0;

//             button {
//                 width: calc(100% - 2rem);
//                 margin: 1rem auto;
//             }
//         }
//     }
// }

// .advanced-search__fields {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-column: 1 / 3;
//     margin: 1rem 0;
//     flex-wrap: wrap;

//     @media screen and (max-width: $tablet) {
//         grid-template-columns: 1fr;
//     }

//     .advanced-search__element {
//         display: grid;
//         grid-template-columns: 1fr 3fr;
//         align-items: center;
//     }

//     .advanced-search__select {
//         display: grid;
//         grid-template-columns: 1fr 1fr 2fr;
//         align-items: center;

//         label {
//             text-align: left;
//         }

//         select {
//             margin: 0 0.5rem;
//         }
//     }

//     .advanced-search__input {
//         margin: 0.5rem 1rem;
//     }
// }
