p,
li, label, button {
  @include body-font();
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lemonde-journal, serif;
  color: black;
}

table {
  @include body-font();
}
th {
    color: $dark-blue;
    font-size: 1.2rem;
}

.secondary-button{
  @include secondary-button();
}