p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: $black;

    @media screen and (max-width: $lg) {
        font-size: 1.2rem;
    }

}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    &:visited{
        color: inherit;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: lemonde-journal, serif;
    color: black;

}