button {
  background-color: transparent;
  border: none;
}

.button--primary {
  @include primary-button();
  border-radius: 5px;
}

.button--secondary {
  @include primary-button();
  @include secondary-button();
}

.button__icon img {
  max-width: 2.5rem;
}

.flex-row {
  display: flex;
  align-items: center;
}

.fadeOut {
  opacity: 0;
  transition: opacity .3s linear;
}
