button {
  background-color: transparent;
  border: none;
}

.button--primary {
  @include primary-button();
  border-radius: 5px;
}

.button--secondary {
  @include primary-button();
  @include secondary-button();
}

.button__icon img {
  max-width: 2.5rem;
}

.flex-row {
  display: flex;
  align-items: center;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s linear;
}

// CK EDITOR
.ck.ck-editor {
  margin: 2rem 1rem !important;
}
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  padding: 2rem;
}
.ck ul {
  list-style-type: disc;
  list-style-position: inside;
}
.ck ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.ck ul ul,
.ck ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
.ck ol ol,
.ck ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

// SWITCH
.switch {
  position: relative;
  border-radius: 100px;
  background-color: white;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 0.5rem 1rem;
  grid-gap: 1rem;
  cursor: pointer;
  .switch__selector {
    grid-column: 2/3;
    grid-row: 1/2;
    border-radius: 100px;
    background-color: $dark-blue;
    width: 100%;
    height: 100%;
    transition: all 3s ease-in-out;
  }
  .switch__on {
    grid-column: 1/2;
    grid-row: 1/2;
    color: black;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
  }
  .switch__off {
    grid-column: 2/3;
    grid-row: 1/2;
    color: $light-blue;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    &:checked {
      & ~ .switch__selector {
        grid-column: 1/2;
      }
      & ~ .switch__on {
        color: $light-blue;
      }
      & ~ .switch__off {
        color: black;
      }
    }
  }
}
