$black: #272727;
$dark-blue: #2b50aa;
$light-blue: #c3dbea;
$border-gray: #E7E6EB;
$border-grey: $border-gray;
$trans-border-gray: rgba(231, 230, 235, 0.3);
$trans-border-grey: $trans-border-gray;

// breakpoints
$mobile: 576px;
$tablet: 768px;
$med: 992px;
$lg: 1200px;

