$black: #272727;
$dark-blue: #2b50aa;
$light-blue: #c3dbea;
$trans-light-blue: rgba(195, 219, 234, 0.3);
$border-gray: #a09cb0;
$border-grey: $border-gray;
$trans-border-gray: rgba(160, 156, 176, 0.3);
$trans-border-grey: $trans-border-gray;
$light-background: rgba(160, 156, 176, 0.1);
$gray: #D8D8D8;


// breakpoints
$mobile: 576px;
$tablet: 768px;
$med: 992px;
$lg: 1024px;
$xl: 1440px;


