//.. Data Tables Overrides
@import './variables';
@import './mixins';
@import './layouts/content-with-sidebar';
@import './layouts/modal';
@import './tables';

#content {
  #searchCases,
  #openCases {
    position: absolute;
    width: 100%;
  }
  .fade:not(.show) {
    z-index: -1;
  }
}

#openCases {
  .tab-pane {
    width: 100%;
  }
}

#viewCaseData,
#editCaseData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 2rem;

  @media screen and (max-width: 567px) {
    grid-template-columns: 1fr;
  }

  form {
    width: 100%;
  }

  .form__control {
    margin: 0 1rem;
  }
}

#editCaseData {
  display: block;
}
.case__controls {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding: 1rem;
  padding-right: 2rem;
  border-bottom: 1px solid $trans-border-gray;
  margin: 0 -2rem;
  button {
    margin: 0 1rem;
  }

  .controls__end {
    display: flex;
    margin-left: auto;
  }
}
.case-data__group {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid $trans-border-gray;
  min-height: 58.5px;
  .data__heading {
    font-weight: 800;
    font-size: 1.1rem;
  }
}
.tab-close{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  margin: 1rem;
  border: 1px solid $trans-border-gray;
  border-radius: 100%;
}

.hidden {
  display: none !important;
}

.fadeIn {
  transition: all 0.3s ease-in-out;
}

.opacity-0{
  opacity: 0;
}

