@import './variables';
@import './mixins';
@import './utilities';
@import '../scss/layouts/modal';
@import '../scss/layouts/content-with-sidebar';
@import '../scss/views/_events';

#calendar {
  padding: 20px;
}

#sidebar {
  background-color: white;
}
.welcome-message {
  margin-top: 100px;
  display: block;
  position: relative;
  padding: 20px;
}

.welcome-message h1 {
  font-size: 28px;
  font-weight: bold;
}

.welcome-message .last_login {
  font-size: 16px;
  text-align: left;
  color: black;
  margin: 10px 0;
}

.activities_stream {
  padding: 20px;
  overflow-y: scroll;
  padding-bottom: 50px;
  height: calc(100vh - 200px);
}
.activity_card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0px 10px;
}
.activity_card img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid $dark-blue;
  border-radius: 100%;
  margin: 20px 0;
}
.activity_card a {
  font-weight: bold;
  text-decoration: underline;
}
.activity_card .activity_text {
  font-size: 18px;
}
.activity_card .activity_time {
  margin: 5px 0; 
  color: $gray;
}
.activity_card .activity_what {
  grid-column-start: 2;
  text-align: left;
}
