@import './variables';
@import './mixins';
@import './utilities';
@import '../scss/layouts/modal';
@import '../scss/layouts/content-with-sidebar';
@import '../scss/views/_events';

#grid {
  @media screen and (max-width: 1024px) {
    height: auto;
  }
}
#calendar {
  padding: 40px;
}
.fc .fc-button-primary {
  background-color: white;
  border: 2px solid black;
  color: $dark-blue;
  font-weight: 700;
}
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:hover {
  border-color: $dark-blue;
  background: white;
  color: $dark-blue;
}

.fc-button-group button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fc-button-group button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#sidebar {
  background-color: $light-background;
  padding-top: 200px;

  @media screen and (max-width: 1024px) {
    padding-top: 50px;
  }
}
.welcome-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 80px;
  z-index: 2;
}

.welcome-message h1 {
  font-size: 28px;
  font-weight: bold;
}

.welcome-message .last_login {
  font-size: 16px;
  text-align: left;
  color: black;
  margin: 10px 0;
}

.welcome-message button {
  height: auto;
}

.activities_stream {
  padding: 20px;
  overflow-y: scroll;
  padding-bottom: 50px;
  height: calc(100vh - 200px);

  @media screen and (max-width: 1024px) {
    height: 200px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
.activity_card {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0px 10px;
}
.activity_card img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  padding: 10px;
  border: 1px solid $dark-blue;
  border-radius: 100%;
  margin: 20px 0;
}
.activity_card a {
  font-weight: bold;
  text-decoration: underline;
}
.activity_card .activity_text {
  font-size: 18px;
}
.activity_card .activity_time {
  margin: 5px 0;
  color: $gray;
}
.activity_card .activity_what {
  grid-column-start: 2;
  text-align: left;
}

#quickAddModal {
  .switch {
    margin: 0 auto;
  }
}


#quickAddModal {
  .ss-main .ss-multi-selected .ss-values .ss-value {
    background-color: $light-blue;
    color: $dark-blue;
  }
  .ss-disabled {
    color: black;
  }
  .ss-main {
    * {
      font-size: 16px;
    }
    .ss-multi-selected {
      margin: 1rem 0;
      height: 4rem;
    }
  }

  .ss-single-selected {
    height: 4rem;
    border-color: $border-gray;
    border-radius: 5px;
  }
  .form__control--select {
    &:after {
      display: none;
    }
  }

  .placeholder {
    background-color: transparent;
    font-size: 14px;
    color: black;
    opacity: 1;
  }
  
  .case_note_time_selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 2rem 1rem;
    > * {
      flex: 1;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}


.hidden {
  display: none;
}