@import './variables';
@import './mixins';
@import './layouts/content-with-sidebar';
@import './layouts/modal';
@import './tables';
@import './form';

#table_journals {
  width: 100%;
}

.journal_detail {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
  padding: 50px 30px;
  .journal_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .journal_group {
      display: flex;
      align-items: center;
      gap: 4rem;
    }
    .chevron_left {
      width: 20px;
      transform: rotate(-90deg);
    }
  }
  .journal_header {
    display: flex;
    align-items: center;
    margin: 4rem 0;
    gap: 4rem;
    .thumbnail-mask {
      width: 50px;
      height: 50px;
    }

    h1 {
      font-size: 25px;
      font-weight: 700;
    }
    p {
      color: $dark-gray;
    }
  }
  .journal_text {
    padding: 4rem 0.5rem;
  }
  .comment {
    border-left: 0.3rem solid $dark-blue;
    margin: 4rem 0 4rem;
    padding: 4rem;
    @media screen and (max-width: $tablet) {
      padding: 0 2rem;
    }

    .comment_info {
      display: flex;

      align-items: start;
      textarea {
        width: 100%;
        height: 200px;
        margin: 0 0 0 4rem;
        
      }
      @media screen and (max-width: $tablet) {
        flex-direction: column;
        textarea {
          margin: 0;
        }
        .thumbnail-mask {
          margin: 0 0 4rem 0;
        }
      }
    }
    .btn {
      display: block;
      margin-left: auto;
      margin-top: 4rem;
    }
  }
}
