@import './variables';
@import './mixins';
@import './layouts/content-with-sidebar';
@import './layouts/modal';
@import './tables';
@import './form';
.file_info {
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;

  h4 {
    color: $dark-blue;
    font-weight: bold;
  }
  .file_preview {
    height: 200px;
    width: 200px;
    border: 2px solid $dark-blue;
    border-radius: 100%;
    object-fit: cover;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    height: 60px;
    width: 60px;
    img {
      border-radius: 100%;
      border: 2px solid $dark-blue;
      background-color: $light-blue;
      width: 100%;
    }
  }
}
.picture_dropzone {
  border: 4px dashed $dark-blue;
  padding: 50px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  background-color: $light-blue;
  p,
  label {
    color: $dark-blue;
  }
  label {
    cursor: pointer;
    text-decoration: underline;
  }

  &.dragover {
    border-color: green;
  }
  [name='picture_url'] {
    display: none;
  }
  .file_info {
    display: none;
  }
}

.picture_dropzone:has(input[type='file'].has_file) {
  border: none;
  background-color: transparent;
  padding: 0;
  > p,
  > label {
    display: none;
  }
  .file_info {
    display: block;
  }
}
.user-detail__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.user-detail__name {
  @include title-font();
  font-size: 30px;
  font-weight: 600;
}

.user-detail__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user-details__detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 40px 0;
  align-items: baseline;

  h3 {
    @include body-font();
    font-weight: 700;
    text-align: right;
  }
  a {
    text-align: left;
  }
  p {
    display: flex;
    flex-direction: column;
    align-items: start !important;

  }
}

#viewUserModal {
  hr {
    margin: 40px -60px 20px;
  }
}
