@import './variables';
@import './mixins';
@import './layouts/content-with-sidebar';
@import './layouts/modal';
@import './tables';
@import './form';
@import '../scss/activities-feed';
@import '../scss/case-notes';

#content {
  overflow-x: hidden;
}

.tab-pane {
  width: 100%;
  position: absolute;
}
.ss-single-selected {
  margin: 0 !important;
}

.activities_stream {
  height: 200px;
  overflow-y: scroll;
}
