@import './variables';
@import './mixins';
@import './layouts/content-with-sidebar';
@import './layouts/modal';
@import './tables';
@import './form';

#content {
  overflow-x: hidden;
}

.tab-pane {
  width: auto;
}
.ss-single-selected {
  margin: 0 !important;
}
