@import './variables';
@import './mixins';
@import './layouts/content-with-sidebar';
@import './layouts/modal';
@import './tables';
@import './form';
@import '../scss/activities-feed';
@import '../scss/case-notes';

#content {
  overflow-x: hidden;
}

.tab-pane {
  width: 100%;
  position: absolute;
}
.ss-single-selected {
  margin: 0 !important;
}

.activities_stream {
  height: 200px;
  overflow-y: scroll;
}

.config_forms {
  display: grid;
  padding: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.config_item {
  border: 2px solid $dark-blue;
  border-radius: 10px;
  padding: 4rem;
  background: $light-blue;
  color: $dark-blue;
  text-align: center;
  width: 200px;
  font-weight: bold;
}

.button__icon {
  align-self: end;
  padding-bottom: 1rem;
}
