body
{
background-color:rgb(195, 217, 255);

font-family:garamond, georgia, times, serif;
font-size:12pt;
}

h1
{
font-size:14pt;
color:blue;
}

.no
{
margin-left:25px;
font-style:italic;
font-size:10pt;
}

.result
{

margin-left:25px;

}

.small_gray
{
font-size:10pt;
color:gray;

}

a{font-size:12pt;}
a:hover{background-color:white;}

a.nav{font-size:12pt;}
a.nav:hover{background-color:white;}

a.small{font-size:10pt;}
a.small:hover{background-color:white;}


