@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/typograpy';
@import '../../scss/utilities';
@import '../../scss/header';
@import '../../scss/form';

html {
  font-size: 10px;
}
body {
  background-color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat';
}

.display-grid-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;

  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.center-vertically {
  display: flex;
  align-items: center;
}

#content {
  font-size: 1.4rem;
}

// #notifications {
//   display: none;
//   position: absolute;
//   top: 10px;
//   z-index: 99;
//   left: 50%;
//   margin-left: -150px;
//   width: 300px;
//   border: 1px solid gray;
//   font-weight: 700;
//   padding: 2rem;
//   border-radius: 4px;
//   font-family: 'Montserrat', sans-serif;
//   font-size: 1.4rem;
// }

// #notifications p {
//   font-size: 2rem;
//   font-weight: normal;
//   position: absolute;
//   top: 0;
//   right: 1rem;
// }

// // nofity.js styles
// .notification--error{

//   // TODO better red?
//   background-color: red;
//   color: white;
//   p {
//     color: white;
//   }
// }

// .notification--success {
//   // TODO better green? transparent?
//   background-color: green;
//   color: white;
//   p {
//     color: white;
//   }
// }

.ajs-message,
.ajs-content {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 600;
}

.notification {
  display: none;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  &.blue {
    color: white;
    background-color: $dark-blue;
  }

  @media screen and (max-width: $med) {
    display: flex;
  }
}
.notification:empty {
  display: none;
}
