p,
li, label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  p,
  li, label {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: lemonde-journal, serif;
  color: black;
}

table {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
}

@media screen and (max-width: 1024px) {
  table {
    font-size: 1.2rem;
  }
}

th {
  color: #2b50aa;
  font-size: 1.2rem;
}

button {
  background-color: transparent;
  border: none;
}

.button--primary {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
  box-shadow: 0.2px 1px 1.4px rgba(0, 0, 0, 0.02), 0.4px 2.3px 3.3px rgba(0, 0, 0, 0.028), 0.8px 4.4px 6.3px rgba(0, 0, 0, 0.035), 1.3px 7.8px 11.2px rgba(0, 0, 0, 0.042), 2.5px 14.6px 20.9px rgba(0, 0, 0, 0.05), 6px 35px 50px rgba(0, 0, 0, 0.07);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2b50aa;
  border: 2px solid #2b50aa;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .button--primary {
    font-size: 1.2rem;
  }
}

.button--primary:hover {
  border-radius: 5px;
  cursor: pointer;
}

.button--primary:focus {
  box-shadow: none;
}

.button--secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
  box-shadow: 0.2px 1px 1.4px rgba(0, 0, 0, 0.02), 0.4px 2.3px 3.3px rgba(0, 0, 0, 0.028), 0.8px 4.4px 6.3px rgba(0, 0, 0, 0.035), 1.3px 7.8px 11.2px rgba(0, 0, 0, 0.042), 2.5px 14.6px 20.9px rgba(0, 0, 0, 0.05), 6px 35px 50px rgba(0, 0, 0, 0.07);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2b50aa;
  border: 2px solid #2b50aa;
  outline: none;
  width: 100%;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
  box-shadow: 0.2px 1px 1.4px rgba(0, 0, 0, 0.02), 0.4px 2.3px 3.3px rgba(0, 0, 0, 0.028), 0.8px 4.4px 6.3px rgba(0, 0, 0, 0.035), 1.3px 7.8px 11.2px rgba(0, 0, 0, 0.042), 2.5px 14.6px 20.9px rgba(0, 0, 0, 0.05), 6px 35px 50px rgba(0, 0, 0, 0.07);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2b50aa;
  border: 2px solid #2b50aa;
  outline: none;
  width: 100%;
  padding: 1rem;
  background-color: #c3dbea;
  color: #2b50aa;
}

@media screen and (max-width: 1024px) {
  .button--secondary {
    font-size: 1.2rem;
  }
}

.button--secondary:hover {
  border-radius: 5px;
  cursor: pointer;
}

.button--secondary:focus {
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .button--secondary {
    font-size: 1.2rem;
  }
}

.button--secondary:hover {
  border-radius: 5px;
  cursor: pointer;
}

.button--secondary:focus {
  box-shadow: none;
}

.button__icon img {
  max-width: 2.5rem;
}

.header > div {
  display: flex;
  justify-content: space-between;
  padding: 0rem 4rem;
  border-bottom: 2px solid black;
  height: 80px;
}

@media screen and (max-width: 1024px) {
  .header > div {
    border-bottom: none;
  }
}

@media screen and (max-width: 992px) {
  .header > div {
    padding: 0rem 1rem;
    flex-direction: column;
    height: 100%;
  }
}

.header > div ul {
  display: flex;
  align-items: center;
  max-height: 150vh;
  margin-bottom: 0;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .header > div ul {
    border: 1px solid #a09cb0;
    flex-direction: column;
    align-items: flex-start;
    z-index: 10;
    background-color: white;
    margin: 0rem -1rem;
    padding-bottom: 1rem;
  }
}

.header > div ul li {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .header > div ul li {
    display: flex;
    align-items: center;
    visibility: visible;
    transition: visibility 0.1s ease-out;
    transition-delay: 0.3s;
  }
}

.header > div ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0rem 1.5rem;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  height: 100%;
  text-decoration: none;
  color: black;
}

.header > div ul li a:hover {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .header > div ul li a {
    padding: 1.5rem;
    font-size: 1.5rem;
    justify-content: flex-start;
  }
}

.header > div ul li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background-color: #2b50aa;
  transform: translateX(50%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 992px) {
  .header > div ul li a:hover {
    background-color: #c3dbea;
  }
  .header > div ul li a:hover::before {
    width: 100%;
    transform: translateX(0);
  }
}

@media screen and (max-width: 992px) {
  .header > div ul.collapsed {
    max-height: 0;
    padding: 0;
    transition-delay: 0s;
  }
  .header > div ul.collapsed li {
    visibility: hidden;
    transition-delay: 0s;
  }
}

.header__toggle {
  display: none;
}

.header__toggle img {
  height: 50px;
}

@media screen and (max-width: 992px) {
  .header__toggle {
    display: block;
  }
}

.header__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .header__group {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .header__logo {
    font-size: 2rem;
    justify-content: flex-start;
    padding: 1.5rem 0;
  }
}

.header__logo a {
  font-family: lemonde-journal, sans-serif;
  color: #272727;
  text-decoration: none;
  color: inherit;
  color: black;
}

.header__logo a:hover {
  text-decoration: none;
  color: inherit;
}

.header__prof-pic > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__prof-pic > a img {
  width: 50px;
  border-radius: 50%;
  border: 1px solid #a09cb0;
  background-color: white;
  margin-right: 0.5rem;
}

input,
select,
textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #272727;
  border: 1px solid #a09cb0;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  input,
  select,
  textarea {
    font-size: 1.2rem;
  }
}

input ::placeholder,
select ::placeholder,
textarea ::placeholder {
  color: #a09cb0;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0.2px 1px 1.4px rgba(0, 0, 0, 0.02), 0.4px 2.3px 3.3px rgba(0, 0, 0, 0.028), 0.8px 4.4px 6.3px rgba(0, 0, 0, 0.035), 1.3px 7.8px 11.2px rgba(0, 0, 0, 0.042), 2.5px 14.6px 20.9px rgba(0, 0, 0, 0.05), 6px 35px 50px rgba(0, 0, 0, 0.07);
  border: 1px solid black;
  outline: none;
}

.search_container {
  display: flex;
}

.search_container .input_search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search_container .input_search img {
  position: absolute;
  right: 0;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}

.search_container select {
  border-radius: 5px 0px 0px 5px;
}

@media screen and (max-width: 576px) {
  .search_container select {
    border-radius: 5px;
  }
}

.search_container input[type='search'] {
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  width: 100%;
  border-left-color: transparent;
}

@media screen and (max-width: 576px) {
  .search_container input[type='search'] {
    border-left-color: inherit;
    margin: 0.5rem 0;
    border-radius: 5px;
  }
}

.search_container input[type='search']:focus {
  border-left-color: inherit;
}

@media screen and (max-width: 576px) {
  .search_container {
    flex-direction: column;
  }
}

.form__control {
  display: flex;
  flex-direction: column;
}

.form__control label {
  transform: translateY(4rem);
  padding: 0.5rem 1rem;
  transition: transform 0.1s ease-out;
  text-align: left;
  min-height: 3.8rem;
}

.form__control label.float, .form__control label.float--lock {
  transform: translateY(0);
  font-size: 1.2rem;
  padding: 1rem 0;
}

.form__control input {
  width: 100%;
  color: black;
}

.form__control.form__control--select {
  position: relative;
}

.form__control.form__control--select select {
  appearance: none;
}

.form__control.form__control--select::after {
  content: '';
  position: absolute;
  background-image: url("../../html/ico/triangle-down.svg");
  height: 20px;
  width: 19px;
  display: block;
  background-size: cover;
  bottom: 5px;
  right: 7px;
  z-index: 10;
}

.form__array {
  display: flex;
  flex-direction: column;
}

.form__array legend {
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.form__array .array__grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  margin: 0.5rem 0;
}

.form__array .array__grid.array__grid--two {
  grid-template-columns: 1fr auto;
}

html {
  font-size: 10px;
}

body {
  background-color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.display-grid-2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

@media screen and (max-width: 576px) {
  .display-grid-2-1 {
    display: flex;
    flex-direction: column;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.center-vertically {
  display: flex;
  align-items: center;
}

#content {
  font-size: 1.4rem;
}
/*# sourceMappingURL=app.css.map */