html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, iframe,fieldset, a { margin: 0; padding: 0; border: 0; }

body{background-color:rgb(195, 217, 255);text-align:center;font-family:garamond, georgia, times, serif;}

h1{font-family:garamond, georgia, times, serif;font-size:30pt;text-align:left;color:blue;}

h3{font-family:garamond, georgia, times, serif;font-size:18pt;text-align:left;color:blue;font-weight:normal;font-style:normal;}

h4{font-family:garamond, georgia, times, serif;font-size:15pt;color:navy;font-weight:normal;}

h5{font-family:garamond, georgia, times, serif;font-size:11pt;text-align:left;color:black;font-weight:normal;font-style:italic;}


#menus{position:absolute;right:0%;top:0%;background:rgb(195, 217, 255);text-align:right;font-size:11pt;color:black;font-family:garamond, times, serif;}

#menus img{margin-top:10px;margin-right:10px;margin-bottom:-5px;}

#nav_container{position:relative;width:94%;height:61px;background-color:rgb(195, 217, 255);margin:auto;/*width:1015px;*/}

#notifications{display:none;position:absolute;top:10px;z-index:99;left:50%;margin-left:-150px;width:300px;background-color:white;font-weight:normal;opacity:.8;border:1px solid gray;}

#notifications p {font-size:14pt;font-weight:normal;color:red;}

#idletimeout { background:#ED1212; border:3px solid #FF6500; color:#fff; font-family:arial, sans-serif; text-align:center; font-size:12px; padding:10px; position:relative; top:0px; left:0; right:0; z-index:100000; display:none; }

#idletimeout a { color:#fff; font-weight:bold }

#idletimeout span { font-weight:bold }

#timer {position:relative;top:0px;left:0px;height:42px;background-color:white;text-align:left;padding-bottom:5px;display:none;}

#timer img {width:40px;height:40px;border:0px;vertical-align:text-bottom;padding-right:10px;}

#timer > #timer_inner{float:left;height:40px;font-size:14px;width:45%;overflow:hidden;}

#timer .timer_time_elapsed{font-size:40px;}

#timer .timer_case_name{color:navy;}

#timer_controls{float:right;height:40px;width:54%;text-align:right;}

#timer_controls textarea {display:inline-block;vertical-align:text-bottom;margin-right:5px;}

#timer_controls button {margin:10px;}

#timer_controls form>button {vertical-align:bottom;margin:5px;}



#content{position:relative;width:94%;background-color:white;margin:auto;border:1px dotted rgb(192,192,192);z-index:1;padding:1.5%;overflow-y:hidden}

#content_left{float:left;width:42%;margin-top:40px;margin-left:15px;text-align:left;}

#wrapper1 {min-height:760px;width:40%;height:100%;margin-top:7%;background-color:rgb(255, 255, 204);margin:auto;border-left:2px solid #e0e0e0;border-right:2px solid #e0e0e0;}

#nav{position:absolute;top:0px;left:0px;width:150px;height:100%;background-color:gray;}

#processing {width:97%;height:95%;background-color:white; position:absolute;z-index:10000}

#set_advanced{}
.advanced, .advanced_2 {display:none;}

UL {list-style-type: none;}

LI {margin-bottom:20px;margin-top:20px;}

UL.fr {list-style-top:circle;}

LI.fr {margin-left:15px;margin-bottom:20px;margin-top:20px;}



/* Styles specific to index page */


#forgot {text-align:center;background-color:rgb(255, 255, 204);margin-top:15px;width:99%;height:18%;display:none;}

.error {background-color:#F7BCC6;color:black}

input{font-family:garamond, georgia, times, serif;font-size:14pt;color:black;border:1px solid #D8D1D1;}

input.small{font-family:garamond, georgia, times, serif;font-size:10pt;color:black;}

select.gray{font-family:garamond, georgia, times, serif;font-size:14pt;color:rgb(224, 224, 224);}

select{font-family:garamond, georgia, times, serif;font-size:14pt;color:black;}

textarea{font-family:garamond, georgia, times, serif;font-size:14px;font-weight:normal;color:black;border:1px solid black;}

label{font-family:garamond, georgia, times, serif;font-size:10pt;color:rgb(128, 128, 128);}

label.msg{font-family:garamond, georgia, times, serif;font-size:10pt;color:rgb(128, 128, 128);float:left;width:100px;}

.inactive{color:rgb(224, 224, 224); }

button{font-size:14pt;font-family:garamond, georgia, times, serif}

.submit_image{margin-bottom:-7px;margin-right:20px;}

html>body .submit_image{margin-bottom:-12px;margin-right:20px;}

.print_image{margin-bottom:-7px;margin-right:0px;margin-left:10px;}

html>body .print_image{margin-bottom:-10px;margin-right:0px;margin-left:10px;}

/* Style for casenotes */.casenotedesc{height:40px;overflow:auto;}

a.nav {font-size:30pt; color:black;font-family:garamond, times, serif;text-decoration:none;}

a.nav:hover {font-size:30pt;color:green;font-family:garamond, times, serif;text-decoration:none;}

a.menu {font-size:10pt; color:black;font-family:garamond, times, serif;text-decoration:underline;}

a.menu:hover {font-size:10pt;color:red;font-family:garamond, times, serif;text-decoration:none;}

a.theader {font-weight:bold;color:rgb(228,228,228);text-decoration:underline;}

a.theader:hover {font-weight:bold;color:red;text-decoration:underline;}

a.singlenav{font-size:14pt; color:black;font-family:garamond, times, serif;text-decoration:underline;}

a.singlenav:hover{font-size:14pt; color:blue;font-family:garamond, times, serif;text-decoration:underline;}

a.folder {text-decoration:none;}

a.folder:hover {text-decoration:underline;}

a.small {font-size:10pt; color:black;font-family:garamond, times, serif;text-decoration:underline;}

a.small:hover {font-size:10pt;color:red;font-family:garamond, times, serif;text-decoration:none;}

a.title {font-size:14pt; color:blue;font-family:garamond, times, serif;text-decoration:none;}

a.title:hover {font-size:14pt;color:blue;font-family:garamond, times, serif;text-decoration:underline;}

a.smallgray {font-size:10pt; color:gray;font-family:garamond, times, serif;text-decoration:underline;}

a.smallgray:hover {font-size:10pt;color:red;font-family:garamond, times, serif;text-decoration:none;}


#footer {margin-top:20px;text-align:center}
#footer p {font-family:verdana,arial,helvetica;font-size:10pt;color:black}
#footer a {font-family:verdana,arial,helvetica;font-size:10pt;text-decoration:underline;}

/* Home page styles */

div#home_nav {position:relative;width:100%;height:5%;padding-top:5px;}
div#home_data {position:absolute;left:15px;top:5px;}
div#home_data div {font-size:1.2em;color:#555;display: inline-block;}
div#home_data div.small {font-size: .8em;color:white;margin-left:10px;display: inline-block;}
button#quick_add {position:absolute;right:20px;top:5px;}
div#quick_add_body p {margin-bottom:10px;}
div#quick_add_body label {display:block;margin:12px 0 0;float:left;clear:left;width:40px;}
input#cn_date, input#event_date{width:100px;}
select#cn_case, select#event_case{width:200px;}
div#quick_add_body input.ui-autocomplete-input {width:170px;}
ul.ui-autocomplete {text-align:left;}


div#home_panel{width:94%;height:85%;border-left:1px solid #AAA;border-right:1px solid #AAA;border-bottom:1px solid #AAA;border-top:0px;overflow: scroll;padding: 3%;}

div.activities_stream{position:relative;width:600px;height:100%;margin:auto}

div.activities_stream p{text-align:left;}

div.activities_stream p.grey{color:#AAA;margin-left:37px;}

div.activities_stream p.end{color:#AAA;font-style:italic;text-align:center;margin-top:15px;}

div.activities_stream hr {margin-bottom:10px;}

div.activities_feed {width:40px; height: 40px;position:absolute;right:-70px;top:0px;}

div.quick_add_form{position:relative;display:none;}
div#quick_add_nav a {color:#AAA;text-decoration:underline;outline:none;}
div#quick_add_nav a.active {color:black;text-decoration:none;outline:none;}
div#quick_add_nav a.quick_add_close {position:absolute;right:5px;top:10px;}
div#quick_add_body{margin-top:10px;}
div#quick_add_body_cn{display: block;text-align:left;}
div#quick_add_body_event{display: none;}
p.quick_add_times label, p.quick_add_times select {display:inline-block !important;float:none !important;clear:none !important;}
div#quick_add_body_cn textarea{width:240px;height:145px;}
p#quick_add_cn {text-align:center;margin-bottom:0px;}

div#event_detail_window{position: relative;text-align:left;}
div#event_detail_window a.event_detail_close {position:absolute;right:5px;top:10px;outline:none;}
div#event_detail_window label{font-size:12pt;}
div#event_users_display{text-align:left;}
div#event_users_display img {border:0px;margin:5px;box-shadow:3px 3px 5px gray;-moz-box-shadow:3px 3px 5px gray ;-webkit-box-shadow:3px 3px 5px gray;}



/* Cases styles */
	/* Custom jquery ui buttons */

.DTTT_button_icon { font-size:14pt; padding:3px 10px 3px 5px !important;}
.ui-icon-inline {display:inline-block !important;}
.cc_add_icon {display:inline-block !important;}


	/* DataTables overrides */
.dataTables_filter {float:left !important; text-align:left !important;width:61% !important}
td, th {text-align:left;}

.dataTables_info{text-align:left;}

.reset{float:right;}

.search_init {width:95%;}

	/* Styles for case detail */
#case_detail_window {width:97%;height:96%;background-color:white;position:absolute;top:1.5%;}
#case_detail_tab_row{width:100%;height:30px;background-color:transparent;position:absolute;top:0px;padding:0px;}
#case_detail_control{width:295px;height:40px;padding:5px;background-color:transparent;position:absolute;top:0px;right:0px;text-align:right;}
#case_detail_control > button {display:inline}

.ui-tabs-selected, .ui-tabs-panel {background-image: none !important;background-color : #FFFFDC !important;}
.ui-tabs{padding:0px; !important}
.ui-helper-reset, .ui-button-text {line-height:0.3 !important}
.ui-tabs-panel{padding:0px !important}
.ui-widget-content{border:0px; !important}
#case_detail_tab_row.ui-widget{border:0px;}
/* This below to fix a bug in jqueryui in Firefox http://stackoverflow.com/questions/6691199/jquery-ui-close-icon-appearing-wrong-in-firefox */
#case_detail_tab_row li .ui-icon-close { float: left; margin: 0.1em 0.2em 0 0; cursor: pointer; }


div.case_title{float:left;padding:8px 0px 0px 15px;width:45%;overflow:hidden;white-space:nowrap;text-align:left;}
div.case_title h2{color:black;font-size:20t;font-weight:normal;text-shadow: 0px 2px 3px gray;}
div.case_detail_nav{float:left;margin-right:0px;margin-top:-2px;padding-bottom:2px;background-color:#FFFFDC;border-left:1px solid  #AAA;border-right:1px solid #AAA;border-bottom:1px solid #AAA;}
div.case_detail_bar{border-left:1px solid #AAA;border-right:1px solid #AAA;border-bottom:1px solid #AAA}
div.case_detail_panel{position:relative;border-right: 1px solid #AAA; border-bottom:1px solid #AAA; border-left: 0px ;float:right;background-color:white;margin-top:0px}
div.case_detail_bar>h3{padding:10px 20px 0px 10px;float:left;}

ul.case_detail_nav_list{text-align:left;}
ul.case_detail_nav_list > li{border-bottom:1px solid light gray;background-color:#FFFFDC;margin:0;padding:15px 0px 15px 25px;color:gray}
ul.case_detail_nav_list > li.selected{border-bottom:1px solid #AAA;border-left:0px;border-top:1px solid #AAA;background-color:#FFFFFF;margin-right:-2px;color:black}
ul.case_detail_nav_list:first-child{border:0px}
ul.case_detail_nav_list > li.selected:before {content: "\0020 \0020 \0020 \00BB \0020";color: green;}

/*
Width has to be set below in pixels below to accomodate jScrollPane
*/
div.assigned_people{height:90%;width:480px;float:right;text-align:right;margin-top:.6%;margin-right:.6%;overflow-x:auto;overflow-y:auto;white-space:nowrap;outline:none;}
div.assigned_people li {display:inline;margin:0;padding-left:.2em;padding-right:.2em;white-space:nowrap;}
div.assigned_people li.inactive {display:none}
div.assigned_people li.slide.closed:before {content:"\00ab";color:gray;}
div.assigned_people li.slide.open:before {content:"\00bb";color:gray;}

div.assigned_people li.slide a {color:gray;font-size:10pt;text-decoration:none;}
div.assigned_people li.slide a:hover {color:green;font-size:10pt;text-decoration:none;}

div.assigned_people img {border:3px solid #FFFFDC;box-shadow:3px 3px 5px gray;-moz-box-shadow:3px 3px 5px gray ;-webkit-box-shadow:3px 3px 5px gray;}
div.user_widget{display:none;}

div.user_display{position: absolute; width: 280px; height: 300px;right: 17px; top: -3px; padding: 10px;background-color:#FFFFDC;border-top:0px;z-index:100;outline:0px;}
div.user_display h3{color:green;}
div.user_display_detail{display:block;height:99%; width:99%;position:absolute;top:0px;left:0px;background-color:#FFFFDC}
div.inactive_user{color:gray;}
div.inactive_user h3 {color:gray;}
div.add_user_detail{display:block;height:99%; width:99%;position:absolute;top:0px;left:0px;background-color:#FFFFDC}
div.user_display_detail p {text-align:left;margin-left:5px;}
div.dialog-user-remove{display:none;text-align:left;}
button.user-action-button,button.user-action-adduser-button{position:absolute;bottom:10px;right:25px;}
button.user-display-closer{position:absolute;bottom:10px;left:10px;}

div.case_detail_panel_tools{width:99%}
div.case_detail_panel_tools_left{height:100%;width:30%;float:left;text-align:left;padding-top:1%;margin-bottom:-1%;}
div.case_detail_panel_tools_left img {margin-left:10px;}
div.case_detail_panel_tools_right{height:100%;width:70%;float:right;text-align:right;padding-top:1%;margin-bottom:-1%;}
div.case_detail_panel_casenotes{width:99%;overflow:auto;text-align:left;}
input.casenotes_search, input.contacts_search, input.events_search{color:#AAA}
input.casenotes_search_clear{width:25px;height:25px;background-image:url('../ico/cancel.png'); background-position: center center;background-repeat: no-repeat;border: none;background-color: transparent;cursor: pointer;position: relative;left:-30px;display:none}

div.csenote {position:relative;border:1px solid #AAA; text-align:left;width:98%;margin:auto;box-shadow:3px 3px 5px #AAA;-moz-box-shadow:3px 3px 5px #AAA;-webkit-box-shadow:3px 3px 5px #AAA;margin-bottom:15px;min-height:99px;}
div.csenote p {margin:10px}
div.csenote div.more{position:absolute;bottom:0px;right:15px;}
div.more > a{font-size:.8em;color:#AAA;}

div.csenote_bar{height:41px;background-color:#E2E4FF;border-bottom:1px solid #AAA;padding:7px;}
div.csenote_bar_left{display:inline-block;width:34%;color:navy}
div.csenote_bar_right{display:inline-block;width:65%;text-align:right;}
div.csenote_bar_right a {font-size:1em;color:navy}

div.csenote_new{display:none}
div.csenote_new textarea{width:98%;margin:8px;border:1px solid #AAA}


div.csenote_shadow{box-shadow:0px 5px 5px #AAA inset;-moz-box-shadow:0px 5px 5px #AAA inset;-webkit-box-shadow:0px 5px 5px #AAA inset;}
div.dialog-casenote-delete{text-align:left;}

div.doc_item{display:inline-block;margin:10px;vertical-align:top;text-align:center;height:120px;overflow:hidden;}
div.doc_item p {width:100px;word-wrap:break-word;}
div.doc_item a {text-decoration:none;}
div.doc_item img {border:0px;}
div.doc_item:hover {cursor: pointer;}
div.doc_properties{position:absolute;z-index:99999;display:none;background-color:white;width:40%;height:50%;padding:5px;border:1px solid black;box-shadow:3px 3px 5px #AAA;-moz-box-shadow:3px 3px 5px #AAA;-webkit-box-shadow:3px 3px 5px #AAA;outline:0px;text-align:left;}
div.doc_item textarea{width:90px;height:50px;border:0px;}
div.doc_item textarea.user_input{background-color: #EDF09F}
a.active  {text-decoration:none;}
/* This allows for the context menu to be display on docs that are at the bottom of the window */
div.doc_spacing_fix{width:100%;height:100px;}


div.upload_dialog{display: none;}
div.upload_dialog p{margin-bottom:10px;}
div.upload_dialog * {outline:0;}
div.upload_dialog .upload_directory{font-weight:bold;}
div.upload_url_form{display: none;padding:20px;}
div.upload_url_form label{display:inline-block;width:50px;}
div.upload_url_form input{width:300px;}
div.upload_progress{height:10px;color:black;}
p.upload_url_form_error_url{color:red;font-size:.8em;}
p.upload_url_form_error_name{color:red;font-size:.8em;}
p.upload_url_notify{color:green;font-size:1em;}


div.text_editor_bar{width:900px;margin: auto;}
div.text_editor_title{font-size:16pt;width:60%;float: left;}
div.text_editor_title input {font-size:16pt;}
div.text_editor_status{width:30%;float:right;text-align:right;}
div.text_editor_status span.status{font-size: .7em;color:#AAAAAA;margin-right:10px;}
div.text_editor_status span.readonly{font-size: .7em;color:red;font-weight:bold;margin-right:10px;}

ul.docMenu_copy_paste{display: none;}

div.contact_bar{height:45px;}
span.contact_type{color:black;}
div.contact_left{display:inline-block;width:45%;vertical-align:top;}
div.contact_left label, div.contact_right label {display: block;}
div.contact_right{display:inline-block;width:45%;vertical-align:top;}
div.contact a {color:blue;}
div.contact div.contact_more{position:absolute;bottom:0px;right:15px;}
div.contact_more > a{font-size:.8em;color:#AAA;}
div.new_contact {height:670px;overflow: auto;}
div.new_contact_data {width:65%;margin: auto;}
div.new_contact label {display:block;margin:12px 0 0;float:left;clear:left;width:90px;}
div.new_contact label:after {content:": ";}
div.new_contact input {width:285px;}
div.new_contact textarea {width:285px;margin-left:0px;}
div.new_contact textarea.contact_notes{height:100px;}
span.contact_phone_widget a, span.contact_email_widget a {font-size:.8em;color:navy;}
select.contact_phone_type,select.contact_email_type{width:90px;}

div.event_group img{margin-right:5px;}
div.event label{display: inline-block;width:50px;}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background:rgb(221,221,221);
}

::-webkit-scrollbar-thumb {
	background: rgb(150,168,182);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
