/* http://www.fiftyfoureleven.com/weblog/web-development/css/light-weight-css-tabs */
#tabs {
			float:left;
			width:61%;
			background:rgb(195, 217, 255);
			padding:0;
			font-size:1em;
			line-height:normal;
			height:50px;



		}
		#tabs ul {
			margin:0;
			padding:35px 0 0 10px;
			list-style:none;
		}
		#tabs li {
			display:inline;
			margin:0;
			padding:0;
		}
	/*
	*	For the next two rules:
	*	1. A single image is used for the two doors, rather than one.
	*	2. Ascetically, the 'font-weight:bold' was removed to closely mimic the www.digital-web.com tabs.
	*	3. The padding was modified for personal preference.
	*/
	#tabs a {
		float:left;
		background:#E7F1F8 url("../images/sliding-doors-mountaintops-1.png") no-repeat left top;
		padding:0 0 0 9px;
		text-decoration:none;
		color:#000;border:0px;
	}
	#tabs a span {
		float:left;
		display:block;
		background:#E7F1F8 url("../images/sliding-doors-mountaintops-1.png") no-repeat right top;
		padding:4px 15px 3px 6px;
	}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
	#tabs a span {float:none;}
	/* End IE5-Mac hack */

	/*
	*	1. At this point many things are simplified. The hover and background colors are set,
	*	and no positions are used because we aren't swapping images
	*	2. 'padding-bottom:4px;' on the current span pushes that tab 1px higher than the others,
	*	exposing 1px of the background color of #tabs and giving the effect of an underline.
	*/

	#tabs .current a span {
		padding-bottom:4px;
	}
	#tabs a:hover, #tabs a:hover span {
		background-color:rgb(255,255,204);
		color:#000;
	}
	#tabs .current a span, #tabs .current a {
		background-color:#fff;font-weight:bold;
	}

















































































































































































