body { padding-top: 70px; }
#idletimeout{position:relative;padding:10px;font-weight:bold;background-color:red;color:white;display:none}
#notifications{position:fixed; top:20px;padding:10px;font-weight:bold;background-color:red;color:white;display:none}
a.home-header {color:inherit; text-decoration:underline}
a.home-header:visited {color:inherit; text-decoration:underline}
#upcoming_events_list{
    overflow:auto;
    height:150px;
}
#calendar {margin-top:10px}
.cal-case-event{background-color:#f2dede}
.cal-noncase-event{background-color:#d9edf7}
.list-group-item{min-height:170px;}
hr{border-bottom:1px solid #ddd}
.table-case-closed{display:none}
.dl-sectioned dt{border-bottom:1px solid #ddd;margin-bottom:5%;padding-top:5%;padding-bottom:5% }
.dl-sectioned img {margin-right:5px}
.small-select{width:auto}
/* 
.btn-push-down{margin-top:25px !important}
.btn-push-down-a-little{margin-top:4% !important}
*/
/* Show and hide search results */
.search-result-hit{display:block !important}
.search-result-miss{display:none !important}
/* Mobile description lists */
dl.mobile-list dd{font-weight:bold;margin-left:0px;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #aaa}
/* Hide nested lists*/
.li-expand ul {display:none; margin-left:10px}
.li-expand-msg ul {display:none; margin-left:10px}
.mobile-doc-list{margin-bottom:20px}
.truncate{height:1.2em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.ul-reply{list-style:none;border-top:1px solid #ddd;margin-top:10px; display:block !important;}
.ul-reply li{margin-top:10px;margin-bottom:10px;}
.ul-reply li>img{float:left;  margin: 0 15px 0 0;}
.reply-item{margin-bottom:5px}
.msg-new{display:none}
/* Board */
.board-container{margin-top:10px}
.board-item{min-height:180px;padding:0px 5px 5px 5px;margin-bottom:20px;border:1px solid #ddd; -moz-box-shadow:3px 3px 5px gray ;-webkit-box-shadow:3px 3px 5px gray;box-shadow:3px 3px 5px gray;}
.board-item h3>img {vertical-align:text-top;margin-right:5px}
.board-item a {word-wrap:break-word}
