@media (min-width: 1200px) { 
            body {
                padding-top: 120px;
                padding-bottom: 40px;
            }
}
#idletimeout{display:none}
.table-case-closed{display:none}
.dl-sectioned dt{border-bottom:1px solid #ddd;margin-bottom:5%;padding-top:5%;padding-bottom:5% }
.dl-sectioned img {margin-right:5px}
.small-select{width:auto}
.btn-push-down{margin-top:25px !important}
/* Show and hide search results */
.search-result-hit{display:block !important}
.search-result-miss{display:none !important}
/* Mobile description lists */
dl.mobile-list dd{font-weight:bold;margin-left:0px;margin-bottom:10px;}
