body{font-family:'Crimson Text', garamond, georgia, times, serif;}
h3{margin-bottom: 5px;}
.print_header{display: inline-block}
.csenote_new,.csenote_bar_right a,.more,.msg_forward,.msg_reply_text,.msg_actions,#msg_new{display: none}
.csenote{height:auto !important}
.msg_replies{margin-left: 30px}
.msg_reply{margin-top: 20px;padding-top:10px;border-top: 1px solid #AAA}
.msg_bar{width: 100%}
.msg_bar_left,.msg_reply_left{display: inline-block;}
.msg_bar_right,.msg_reply_right{display: inline-block;}

.case_data_name{color:#AAA;}
.case_data_display{margin-bottom: 20px;}

.contact h4 {margin-bottom: 0px}
.contact h5{margin-top: 0px;}
.contact_left, .contact_right{margin-left: 20px;display: block;}

div.event_group img{margin-right: 5px;}
div.event {border-bottom: 1px solid #AAA;padding-top: 10px;}
.event_task_title{font-weight: bold;}

.journal_detail_control{display: none;}
.journal_header p {display: inline-block;}
.journal_comments{display: none}
.thumbnail-mask{

    border:2px solid #FFFFDC;
    -moz-box-shadow:3px 3px 5px gray ;
    -webkit-box-shadow:3px 3px 5px gray;
    box-shadow:3px 3px 5px gray;
    border-radius: 50%;
    /* Use PIE to add CSS3 effects to IE8 */
    behavior: url('lib/PIE/PIE.htc');
}
