#grid {
  display: flex;
  flex-direction: row;
  height: 100vh;

  @media screen and (max-width: $xl) {
    grid-template-columns: 1fr 3fr;
  }

  @media screen and (max-width: $lg) {
    display: flex;
    flex-direction: column;
  }
}
#content {
  grid-area: content;
  margin: 2rem;
  width: calc(75% - 4rem);
  position: relative;
  left: 25%;
  @media screen and (max-width: $lg) {
    margin: 3rem 2rem;
    width: calc(100% - 4rem);
    left: 0;
  }
}
#sidebar {
  position: fixed;
  top: 0;
  width: 25%;
  height: 100%;
  background: $trans-border-gray;
  overflow: hidden;
  @media screen and (max-width: $lg) {
    box-shadow: none;
    width: 100%;
    background-color: white;
    height: auto;
    position: unset;
  }

  .nav-tabs {
    flex-direction: column;
    position: relative;
    top: 16rem;
    left: 26%;
    width: 75%;
    @media screen and (max-width: $xl) {
      width: 80%;
      right: -60px;
    }
    @media screen and (max-width: $lg) {
      flex-direction: row;
      position: unset;
      width: 100%;
      border-top: none;
    }
    .nav-link {
      padding: 1.5rem;
      margin: 1rem 0;
      h2 {
        @include body-font();
        font-weight: 500;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
        border-color: transparent;
      }
      &.active {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: 4px;

        h2 {
          color: $dark-blue;
          font-weight: 800;
        }

        @media screen and (max-width: $lg) {
          box-shadow: none;
          border-radius: 0px;
          background-color: $trans-light-blue;
          border-bottom: 4px solid $dark-blue;
        }
      }

      @media screen and (max-width: $lg) {
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
        border-radius: 0px;
        margin: 0;
        padding: 2rem;
      }

      &.disabled{
        display: none;
        @media screen and (max-width: $lg) {
          display: flex;
          cursor: not-allowed;
          color: lightgray;
          h2{
            color: lightgray;
          }
        }
      }
    }
  }
}

.tab-pane {
  width: calc(100% - 514px);
}
