.modal-content {
  padding: 4rem;
  max-width: 100vw;
  text-align: left;
}

@media screen and (max-width: $med) {
  .modal-content {
    padding: 1rem;
    height: 100vh;

  }
 
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
  }
}

.modal_close {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  border: 2px solid $dark-blue;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.modal-header{
  border: none;
}

.modal-title{
  @include title-font();
  font-size: 2.4rem;
  font-style: unset;
  font-weight: 800;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.close_modal{
  height: 20px;
  width: 20px;
  object-fit: contain;
  position: absolute;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
}
